<IfModule mod_mime.c>
  AddType application/xml .xml
  AddType text/plain .txt
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^www\.gigd\.fr$ [NC]
  RewriteRule ^(.*)$ https://gigd.fr/$1 [R=301,L]

  RewriteRule ^sitemap\.xml$ - [L]
  RewriteRule ^robots\.txt$ - [L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
